<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNLbuoA4SedfeUNrMx8fpFYwdRPITdXnE</string>
	<key>GCM_SENDER_ID</key>
	<string>992890024720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unitapphelp.unitum</string>
	<key>PROJECT_ID</key>
	<string>unitumiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>unitumiosapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992890024720:ios:65c4876a3f196f2917eb95</string>
</dict>
</plist>